.themify_builder .text-571-0-0-0.module-text{margin-bottom:30px; }
.themify_builder .icon-571-sub_row_0-0-1-0-1 div.module-icon{padding-bottom:15px; border-left:1px solid #000000; }
.sub_column_post_571.sub_column_0-0-1-1.module_column{padding-left:5%; border-left:1px solid rgba(0,0,0, 0.10); }
.themify_builder .icon-571-sub_row_0-0-1-1-1 div.module-icon{padding-bottom:15px; }
